body {
	margin: 0px;
}		

.menu{
	margin: 0px;
}

.menuH{
  position: fixed;
  width: 100%;
  top: 0;
}

.ang-header{
	float:left;
	padding:0px;
	margin:14px 80px 4px 24px;
	background-color: #263238;
	width: 150px;
	height: 36px;
	position: absolute;
}

.dropdown{
	padding:0px 0px 0px 0px;
	transition:all .3s;
	font-family: sans-serif;
	margin-bottom: 0px;
	height: 100%;
	position: relative;
	display: inline-block;
}

.classe-discuss{
	margin-right: 25px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #263238;
    width: auto;
    height: 56px;
}

.menu li {
    float: right;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 56px;
}

.menu li a:hover {
    background-color: rgba(94, 94, 110, 0.43);
}

.underline{
	text-decoration: none;
}

#navbar-notice .navbar-inner{
	background:#ECEFF1;
	box-shadow:0 0 3px rgba(0,0,0,0.12),0 3px 3px rgba(0,0,0,0.24);
	height:auto
}

.site-notice{
	padding:4px 0;
	text-align:center;
	font-size:13px;
	margin:0;
}
		
.visible-desktop{
	color:#9D9D9D;
	font-size:13px;
	left:0;
	right:0;
	padding:0 32px;
	top:96px;
	text-align:center;
	font-family: sans-serif;
	margin-top: -8px;
}

.visible-phone{
	color:#9D9D9D;
	font-size:12px;
	left:0;
	right:0;
	padding:0 32px;
	text-align:center;
	font-family: sans-serif;
}


#navbar-notice{
	height: 20px;
}

@media (min-width: 800px) {
  	.visible-phone{
  		visibility: hidden; 
  		height: auto;
  	}
  	.container{
  		height: 26px;
  	}
}

@media (max-width: 799px) {
  	.visible-desktop{
  		visibility: hidden; 
  		height: 8px;
  	}
  	.container{
  		height: 26px;
  	}
  	.teste{
  		padding: 10px auto 10px auto;
  	}
  	.menu ul{
  		height: 40px;
  	}
  	.menu li a{
  		height: 40px; 
  		padding: 10px 12px; 
  		font-size: 12px; 
  		margin-top: 2px;
  	}
  	.classe-discuss{
		margin-right: 5px;
	}
  	.ang-header{
  		height: 26px; 
  		position: absolute; 
  		left: -16px; 
  		top: -8px
  	}
}