* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

body {
  font-family: sans-serif;
  color: white;
}

.header {
  box-sizing: border-box;
  position: absolute;
  z-index: 100;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding: 24px;
}

.header-logo {
  width: 210px;
  height: 60px;
  position: relative;
  display: flex;
}

.header-actions {
  display: flex;
  justify-content: right;
}

.header a {
  display: flex;
  background: #e50914;
  color: white;
  align-self: flex-start;
  padding: 8px 18px;
  text-decoration: none;
  border-radius: 3px;
  max-width: 100%;

  justify-content: center;
}

.header select {
  display: inline-block;
  background: black;
  color: white;
  align-self: flex-start;
  padding: 8px 18px;
  text-decoration: none;
  border-radius: 3px;
  margin-right: 10px;
}

.main {
  height: 100vh;
  float: none;
  background: url(imgs/bg.jpg) center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-clip: padding-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.gradient {
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 8, 0.8) 100%
  );
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.main-child {
  z-index: 1;
}

.container {
  background: white;
  min-width: 50%;
  min-height: 30%;
  max-height: 100%;
  min-height: 100%;
  padding: 2rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.warningText {
  color: #ffffff;
  display: none;
}

.container1 {
  font-weight: 600;
  margin-bottom: 2rem;
  position: relative;
}

main h2 {
  font-weight: 600;
  margin-bottom: 2rem;
  position: relative;
  color: black;
}

main h2::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 25px;
  bottom: 3px;
  left: 0;
  border-radius: 8px;
}

#busca {
  margin: 0 auto;
  padding: 0;
}

#txtbusca {
  border: 0px solid #222;
  background: #eee;
  width: 500px;
  height: 40px;
  margin: 0 auto;
  padding: 5px 0 5px 5px;
  float: left;
  line-height: 36px;
}

#btnBusca {
  background: red;
  position: relative;
  border: 0px solid #222;
  color: #fff;
  margin: 0 auto;
  padding: 14.92px;
  border: 0 none;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

#btnBusca:hover {
  background: #03000085;
}
