/* --------------------------------------------------------------------------------------------------------------------------------------*/
/* 											 Gianluca Maziero Machado Ra: 1478974 														 */
/* 											    Paulo Diego Justi Ra: 1478869															 */
/* 												 Disciplina: Programação WEB 															 */
/* --------------------------------------------------------------------------------------------------------------------------------------*/

/* --------------------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------ Media Screen 1 ----------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 450px){

	.divs{
		margin-top: 30px; 
		height: 4200px;
	}

	.div_big{
		height: 1900px;
	}

	.div_gen{
		width: 280px;
		height: 280px;
	}

	.div_gen_half{
		width: 130px;
		height: 280px;
	}

	.weather_div_sub{
		width: 120px;
	}
	
	.weather_div{
		width: 290px;
		top: 50px;
	}

}