/* --------------------------------------------------------------------------------------------------------------------------------------*/
/* 											 Gianluca Maziero Machado Ra: 1478974 														 */
/* 											    Paulo Diego Justi Ra: 1478869															 */
/* 												 Disciplina: Programação WEB 															 */
/* --------------------------------------------------------------------------------------------------------------------------------------*/

/* --------------------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------ Media Screen 1 ----------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 1300px){
	.divs{
		height: 3000px;
	}
	.div_big{
		height: 1500px;
	}
}

/* --------------------------------------------------------------------------------------------------------------------------------------*/
/* --------------------------------------------------------- Statements -----------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------------------------------------------*/

body{
	background-color: white;
	margin: 0px;
}

h1{ 			
  	font-size: 19px;	
  	margin-top: 10px;
	margin-left: 10px;
}

img{
	width: 100%;
	height: 100%;
}

/* --------------------------------------------------------------------------------------------------------------------------------------*/
/* --------------------------------------------------------- Background -----------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------------------------------------------*/

.background_image{			
	background-image: url("https://brooklynbridgepark.s3.amazonaws.com/p/4155/profiles/background.jpg");
	background-size: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	position: fixed;	
	overflow-y: scroll;
	overflow-x: hidden;
}

/* --------------------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------ Header ------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------------------------------------------*/

/* Logo do site*/
.bbp{
	display: inline-block;
	width: 240px;
	height: 160px;
	margin-left: 60px;
	margin-top: 20px;
}

.font{
	font-family: sans-serif;
  	font-style: normal;
	color: white;
}

.fontBig{
	font-size: 26px;
	color: white;
}

.fontBigDown{
	font-size: 30px;
	color: white;
}

.fontBrooklyn{
	text-decoration: underline;
	font-weight: 1000;
	font-size: 20px;
	text-align: center;
}

.fontPark{
	font-size: 70px;
}

/* Div that represent the web site content*/
.divs{
	margin-top: 200px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 2300px;
}

.menu{
	background-color: transparent;
	position: fixed;
	right: 20px;
	top: 20px;
	display: inline-block;
	height: 50px;
	z-index: 999;
}
.sub{
	font-size: 15px;
	font-family: "Merriweather", Merriweather, Sans-serif;
	color: white;
	margin-left: 10px;
	margin-right: 10px;
	font-weight: 600;
}
.sub:hover{
	color: gray;
	opacity: 80%;
}

.joinBlock{
	background-color: transparent;
	border-color: white;
	height: 50px;
	width: 30px;
	border-style: solid;
	border-width: 2px;
	border-radius: 20px;
	display: inline;

	font-weight: 600;

	font-size: 12px;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: 10px;
}

.joinBlock:hover{
	background-color: white;
	color: black;
}

.joinText{
	font-weight: 600;
	font-size: 10px;
	margin: 20px;
}

.img-20-20 {
	width: 20px; 
	height: 20px;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 0px;
	display: inline;
}


/* --------------------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------- Information about weather and apresentation ------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------------------------------------------*/

.welcome{
	width: 150px;
	height: 150px;
	border-style: solid;
	border-width: 3px;
	border-color: white;
}

.welcome2{
	display: none;
}

.welcome3{
	display: none;
}

.weather_div{
	width: 156px;
	height: 200px;
}

.weather_div_sub{
	width: 156px;
	height: 100px;
}

.weather{
	background-position: center;
	background-size: 100% 100%;
	margin-top: 20px;
	width: 50px;
	height: 50px;
	display: inline-block;
}

.weather_sun{
	background-image: url("http://www.iconsplace.com/icons/preview/white/sun-256.png");
}

.weather_tide{
	background-image: url("http://www.iconsdb.com/icons/preview/white/cloud-5-xxl.png");

}

.weather_sun_text{
	padding-top: 3px;
	text-align: right;
	margin-top: 20px;
	height: 50px;
	margin-right: 0px;
	float: right;
}

.p{
	font-weight: 700;
	font-size: 14px;
}

.weather_line{
	height: 2px;
	width: 156px;
	margin-top: 20px;
	background-color: gray;
	opacity: 60%;
}

.weather_mini{
	width: 150px;
	margin-top: 20px;
}

table{
	margin: 0px;
	width: 150px;
	text-align: center;
	font-family: sans-serif;
	font-size: 13px;
	color: white;
	font-weight: 550;
}

.left_div{
	height: 900px;
	width: 160px;
	float: left;
	margin-left: 70px;
	margin-right: 40px;
}

/* --------------------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------- Information web site content ---------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------------------------------------------*/

.div_big{
	margin-bottom: 100px;
	width: 100%;
	height: 1000px;
}

.div_gen{
	background-position: center;
	background-size: 100% 100%;	
	height: 300px;
	width: 300px;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	position: relative;
}

.div_gen:hover{
	background-size: 120% 120%;	
}

.div_gen_half_middle{
	background-color: transparent;
	float: left;
	width: 20px;
	height: 100%;
}

.div_gen_half{
	background-size: auto 100%;
	background-position: center;
	margin: 0px;
	float: left;
	width: 140px;
	height: 300px;
	position: relative;
}

.div_gen_half:hover{
	background-size: auto 120%;
}

.div_sub1{
	background-color: #5ecff6;
	width: 100%;
	height: 100px;
	position: absolute;
	bottom: 0px;
}

.div_sub2{
	line-height: 40px;
	background-color: #49c2ec;
	width: 100%;
	height: 40px;
	position: absolute;
	bottom: 0px;
}

.div_sub3{
	margin-top: 100%;
	line-height: 50px;
	text-align: center;
	background-color: darkblue;
	width: 100%;
	height: 55px;
	position: absolute;
	bottom: 0px;
}

.div_sub4{
	line-height: 40px;
	background-color: gold;
	width: 100%;
	height: 40px;
	position: absolute;
	bottom: 0px;
}

.div_line_height{
	line-height: 120px;
}

/* Images Loading */
.div1{			
	background-image: url("https://brooklynbridgepark.s3.amazonaws.com/p/4380/profiles/medium.jpg");
}

.div2{
	background-image: url("https://brooklynbridgepark.s3.amazonaws.com/p/4279/profiles/activity-thumb.jpg");
}

.div3{
	background-image: url("https://brooklynbridgepark.s3.amazonaws.com/p/4341/profiles/medium.jpg");
}

.div4_sub1{
	background-image: url("https://brooklynbridgepark.s3.amazonaws.com/p/3526/profiles/activity-thumb.jpg");
}

.div4_sub2{
	background-image: url("https://brooklynbridgepark.s3.amazonaws.com/d/1979/profiles/activity-thumb.jpg");
}

.div5_sub1{
	background-image: url("https://brooklynbridgepark.s3.amazonaws.com/p/3238/profiles/tall.jpg");
}

.div5_sub2{
	background-image: url("https://brooklynbridgepark.s3.amazonaws.com/s/959/profiles/tall.jpg");
}

.div5{
	background-image: url("https://brooklynbridgepark.s3.amazonaws.com/p/4261/profiles/medium.jpg");
}

.div6{
	background-image: url("https://brooklynbridgepark.s3.amazonaws.com/p/4399/profiles/medium.jpg");
}

.div7{
	background-image: url("https://brooklynbridgepark.s3.amazonaws.com/p/4346/profiles/medium.jpg");
}

.div8{
	background-image: url("https://brooklynbridgepark.s3.amazonaws.com/p/3244/profiles/medium.jpg");
}

.div9{
	background-image: url("https://brooklynbridgepark.s3.amazonaws.com/p/2243/profiles/medium.jpg");
}

.div10{
	background-image: url("https://brooklynbridgepark.s3.amazonaws.com/s/1032/profiles/medium.jpg");
}

.div11_sub1{
	background-image: url("https://brooklynbridgepark.s3.amazonaws.com/p/3039/profiles/tall.jpg");
}

.div11_sub2{
	background-image: url("https://brooklynbridgepark.s3.amazonaws.com/p/3236/profiles/tall.jpg");	
}

/** Imagens centrais dos blocos */
.centraliza_img{
	background-position: center;	
	background-repeat: no-repeat;
	height: 100%;
	background-color: transparent;
	background-size: 60% 60%;
}

/* Transparent images */
.div_greenway{
	background-image: url("https://brooklynbridgepark.s3.amazonaws.com/static/img/map/large-icons/greenway.png");
}

.div_fulton_ferry_landing{
	background-image: url(https://brooklynbridgepark.s3.amazonaws.com/static/img/map/large-icons/fulton-ferry-landing.png);
}

.div_john_street{
	background-image: url(https://brooklynbridgepark.s3.amazonaws.com/static/img/map/large-icons/john-street.png);
}

.div_empire_fulton_ferry{
	background-image: url(https://brooklynbridgepark.s3.amazonaws.com/static/img/map/large-icons/empire-fulton-ferry.png);
}

.div_pier3{
	background-image: url(https://brooklynbridgepark.s3.amazonaws.com/static/img/map/large-icons/pier-3.png);
}

.div_pier5{
	background-image: url(https://brooklynbridgepark.s3.amazonaws.com/static/img/map/large-icons/pier-5.png);
}

.div_main_street{
	background-image: url(https://brooklynbridgepark.s3.amazonaws.com/static/img/map/large-icons/main-street.png);
}

.div_pier2{
	background-image: url(https://brooklynbridgepark.s3.amazonaws.com/static/img/map/large-icons/pier-2.png);
}

.span_div1{
	font-size: 20px;
	font-weight:400;
	margin-top: 30px;
	margin-left: 10px;
}

.span_div2{
	margin-left: 10px;
	font-size: 14px;
	font-weight: 700;
	color: black;
}

.span_div3{
	font-size: 14px;
	color: lightblue;
	font-weight: 700;
}

.font_block2{
	color:darkblue;
	margin-left:10px;
}

.div_number_block{
	line-height: 40px;
	background-color: #ffe958;
	width: 40px;
	height: 40px;
	float: right;
	text-align: center;
}

/* --------------------------------------------------------------------------------------------------------------------------------------*/
/* --------------------------------------------------------- Footer ---------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------------------------------------------*/

footer{
	height: 380px;
	/*position: relative;*/
	bottom: 0;
	margin-bottom: 0px; 
	background-color: #08304d;
}

.div_information{
	margin-left: auto;
	margin-right: auto;
	background-color: transparent;
	width: 1000px;
	height: 340px;

}

.div_information_text{
	background-color: transparent;
	height: 300px;
	margin-left: 50px;
	margin-top: 30px;
	float: left;
}

.font_information{
	font-weight: 1000;
	font-family: 'Merriweather', Georgia;
	/*font-family: sans-serif;*/
  	font-style: normal;
	text-align: center;
}

.fontBrooklyn_information{
	font-size: 11px;
	color: #40E0D0;
	text-decoration: underline;
}

.fontPark_information{
	margin-top: 0px;
	font-size: 40px;
	color: #4682B4;
	text-decoration: underline;
}

.donate{
	background-color: gold;
	width: 120px;
	padding: 10px;
	margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 20px;
    color: #08304d;
    letter-spacing: 2px;
    font-weight: 600;
}

.donate:hover{
	background-color: white;
}

.aboutTitle{
	font-size: 15px;
	color: #40E0D0;
}

.aboutItem{
	font-size: 10px;
	color: white;	
}

.email{
	background-color: white;
	margin-top: 25px;
	height: 30px;
	width: 250px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}

.submit{
	background-color: #1E90FF;
	height: 30px;
	width: 90px;
	float: right;	
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	text-align: center;
}

.submitText{
	color: white;
	font-size: 12px;
	font-weight: 100;
	letter-spacing: 2px;
}

.circle{
	background-position: center;	
	background-repeat: no-repeat;
	margin-top: 30px;
	margin-right: 20px;
	border-width: 2px;
	border-style: solid;
	border-color: white;
	border-radius: 100%;
	display: inline-block;
	width: 50px;
	height: 50px;
}

.facebookIcon{
	background-image: url("http://www.freeiconspng.com/uploads/white-facebook-icon-png-like-us-on-facebook-to-stay-up-31.png");
	background-size: 60% 60%;
}

.twitterIcon{
	background-image: url("http://www.iconsdb.com/icons/preview/white/twitter-xxl.png");
	background-size: 30% 30%;
}

.instagramIcon{
	background-image: url("http://www.abekislevitz.com/wp/wp-content/themes/abekislevitz2012/images/social/instagram-logo-white.png");
	background-size: 40% 40%;
}

.twitterIcon:hover{
	border-width: 4px;
	border-color: #6CA6CD;
	background-color: #8DB6CD;
}	
.instagramIcon:hover{
	border-width: 4px;
	border-color: #104E8B;
	background-color: #4682B4;
}

.facebookIcon:hover{
	border-width: 4px;
	border-color: #3A5FCD;
	background-color: #436EEE;
}

.div_information_sub{
	background-color: #072b45;
	position: relative;
	width: 100%;
	height: 45px;
	bottom: 0px;
}

.div_information_sub_text1{
	margin-top: 18px;
	margin-left: 100px;
	font-size: 13px;
	float: left;
}

.div_information_sub_text2{
	margin-top: 18px;
	margin-right: 3px;
	font-size: 13px;
	float: right;
}

.div_information_sub_text3{
	color: yellow;
	margin-top: 15px;
	margin-right: 200px;
	font-weight: 700;
	font-size: 18px;
	float: right;
}