/* --------------------------------------------------------------------------------------------------------------------------------------*/
/* 											 Gianluca Maziero Machado Ra: 1478974 														 */
/* 											    Paulo Diego Justi Ra: 1478869															 */
/* 												 Disciplina: Programação WEB 															 */
/* --------------------------------------------------------------------------------------------------------------------------------------*/

/* --------------------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------ Media Screen 1 ----------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 1035px){
	.background_image{			
		background-size: auto 100%;
	}	
}

/* --------------------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------ Media Screen 2 ----------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 1050px){

	.div_information{
		width: 520px;
		height: 700px;
	}

	footer{
		height: 700px;
	}

	.circle{
		margin-left: 5px;
	}

	.div_information_sub_text1{
		margin-left: 60px;
	}

	.div_information_sub_text3{
		margin-right: 60px;
	}

}

/* --------------------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------ Media Screen 3 ----------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 980px){
	.bbp{
		width: 120px;
		height: 80px;
		margin-left: 40px;
	}	

	.fontBrooklyn{
		font-size: 10px;
	}

	.fontPark{
		font-size: 30px;
	}

	.left_div{
		width: 100%;
		height: 200px;
		margin: 0px;
	}

	.divs{
		width: 640px;
		height: 2700px;
	}

	.div_big{
		height: 1200px;
	}

	.welcome{
		width: 614px;
		height: 60px;
		margin-left: 10px;
		margin-right: 10px;
		text-align: center;
		line-height: 40px;
	}

	.weather_div{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	.weather_div_sub{
		margin: 10px;
		width: 292px;
		display: inline-block;
	}

	.weather{
		margin-top: 0px;
	}

	.weather_line{
		display: none;
	}

	.weather_sun_text{
		margin-top: 0px;
	}
	
	.weather_mini{
		display: none;
	}

}


