@media screen and (min-width: 900px){
    body {
        font-family: 'source sans pro', 'Helvetica Neue', 'Arial', sans-serif;
        font-weight: 100;
        margin: 0;
    }
    
    .teste{
        margin: 0 auto;
        max-width: 900px;
        height: 550px;
    }

    nav {
        width: 98%;
        height: 40px;
        margin: 10px;
    }
    nav .menu input{
        height: 30px;
        line-height: 30px;
	    padding: 0 15px 0 30px;
	    border: 1px solid #e3e3e3;
	    color: #2c3e50;
	    border-radius: 15px;
        margin-right: 10px;
	    background: #fff url("img/lupa.png") 8px 5px no-repeat;
        background-size: 20px;
    }

    nav ul {
        padding: 10px;
        margin: 0px;
        list-style: none;
        position: relative;
    }

    nav li{
        font-weight: bold;
        margin: 10px 10px;
        color: #34495e;
    }

    .menu li:hover {
        margin-bottom: 3px solid #42b983;
    }

    nav .titulo {
        font-family: 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
        font-weight: 500;
        display: inline-block;
        margin-top: 20px;
        margin: 10px auto;
        font-weight: 900;
        font-size: 28px;
        color: #2c3e50;
    }
    nav .menu {
        width: auto;
        display: inline-block;
        float: right;
    }

    .menu .submenu {
        position: absolute;
        display: none;
        float: left;
    }
    nav div, nav li{
        display: inline;
    }

    nav a {
        padding: 15px;
        display: block;
        text-decoration: none;
        text-align: center;
    }

    .header {
        font-weight: 100;
        padding: 25px;
        margin: auto;
        height: 326px;
        width: 728px;
        color: #2c3e50;
    }

    .logo {
        height: 300px;
        width: 364px;
        display: inline;
        float: left;
    }

    .logo img {
        margin: 20px 50px;
    }

    .texto {
        height: 300px;
        width: 364px;
        float: left;
    }

    .texto h1 {
        font-size: 38px;

    }
    
    .texto h2{
        display: none;
    }

    .header img {
        letter-spacing: 4px;
        width: 215px;
        height: 215px;
    }

    .cubo {
        margin-left: 20;
        display: inline-block;
        width: 30%;
    }

    .cubo h2 { 
        color: #42b983; 
    }
    
    .cubo span{
        display: none;
    }
    
    .cubo p, .cubo h2 {
        text-align: center;
    }

    .botoes {
        height: 20px;
    }

    .botoes .verde {
        font-weight: 900;
        padding: 0.75em 2em;
        border-radius: 2em;
        margin: 1px green solid;
        background-color: #4fc08d;
        color: white;
        border: 1px solid #4fc08d;
    }

    .botoes .branco {
        padding: 0.75em 2em;
        border-radius: 2em;
        text-transform: capitalize;
        margin: 4px green solid;
        background-color: white;
        color: #4fc08d;
        border: 1px solid #4fc08d;
    }
}

@media screen and (max-width: 900px){
	body{
		font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
		color:#34495e;
		font-size: 14px;
        margin: 0 auto;
	}
	ul{
		list-style: none;
	}
    a{
		text-decoration: none;
	}
	nav{
		width: 100%;
		height: 40px;
		position: fixed;
		background-color: white;
		margin: 0;
	}
    .teste{
        margin: 0 auto;
        width:100%;
        height: 500px;
    }
	.menuBotao{
		position: absolute;
		width: 24px;
		height: 24px;
		top: 8px;
		left: 12px;
		background: url("img/menu2.0.png") center no-repeat;
		background-size: 24px;
	}
    
	nav .titulo{
		display: none;
	}
	.header{
		padding: 50px 40px 30px;
  		color:#2c3e50;
		text-align: center;
        margin: 0 auto;
    }
    .logo{
        margin: 10px 0;
        width: 100%;
        height: 170px;
    }
    .logo img{
		margin: 0 auto;
		width: 140px;
		height: 140px;
		border: none;
	}
    .texto{
        width: 100%;
        height: 222px;
        margin: 0 auto;
    }
    .texto h2{
        font-family: 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  		font-weight: bold;
  		font-size: 2.4em;
  		margin: 0 0 10px 0;
    }
    .texto h1{
        font-weight: 100;
  		margin: 0;
  		font-size: 2em;
        margin-bottom: 30px
    }
    .destaques{
        margin: 0 auto;
        width: 100%;
    
    }
    .cubo{
        text-align: center;
        width: 100%;
    }
    .cubo span{
		color: #42b983;
    }
    .cubo h2{
		margin-top: 10px;
		padding: 8px 0;
		font-weight: 400;
		font-size: 22px;
		color: #42b983;
        font-weight: bold;
    }
    .cubo p{
        color:#7f8c8d;
		height: 54px;
		width: 220px;
		margin: 0 auto;
		font-size: 13px;
        margin-bottom: 40px;
    }
    .botoes{
        font-size: 12px;
        font-weight: bold;
    }
    .botoes .verde{
        margin: 12.6px 12.6px 12.6px 0;
		color: white;
		background-color: #4fc08d; 
		border-radius: 32px;
		padding: 8px 32px;
		border: 1px solid #4fc08d;
        font-size: 12px;
        
    }
    .botoes .branco{
        margin: 12.6px 12.6px 12.6px 0;
		color: #4fc08d;
		background-color: white; 
		border-radius: 32px;
		padding: 8px 32px;
		border: 1px solid #4fc08d;
        font-size: 12px;
	}
    nav .menu{
		display: none;
		background-color: #f9f9f9;
		position: fixed;
		z-index: 20;
		height: 100%;
        width: 350px;
		overflow-y: auto;
    }
    nav .menu input{
        height: 30px;
        line-height: 30px;
	    padding: 0 15px 0 30px;
	    border: 1px solid #e3e3e3;
	    color: #2c3e50;
	    border-radius: 15px;
        margin-right: 10px;
	    background: #fff url("img/lupa.png") 8px 5px no-repeat;
	    background-size: 20px;
    }
    .submenu input{
        display: none;
    }

}