body{
	background: url(img01.png);
}

body{
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #877850;
	font-style: italic;
	position: absolute;
}

.inicio{
	margin-left: auto;
	margin-right: auto;
	margin: auto;
	height: 20px;
	width: 88%;
}

.principal{
	position: absolute;
	top: 5%;
	float: left;
	height: 5%;
	width: 20%;

}

.titulo{
	float: left;
	margin-top: -27px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

h1 a{
	font-weight: 200;
	font-family: "Ariel", sans-serif;
	float: left;

}

h1{
	margin: 0px;
	padding: 0px;
	font-family: "Ariel", sans-serif;
	font-style: normal;
	font-weight: 200;
	font-size: 30px;	
	float: left;
	color: black;
}


h2{
	margin: 0px;
	padding: 0px;
	font-family: "Ariel", sans-serif;
	font-style: normal;
	font-weight: 200;	
	font-size: 20px;
	color: #877850;
	font-weight: bold;
}

p{
	line-height: 170%;
	font-size: 12px;
}

span{
	padding: 6px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 14px;
	color:#787878;

}

#imagem-principal{
	overflow: hidden;
	margin: 8% 0%;
	border: 30px solid white;
	float: left;
}

#imagem-principal a img{
	width: 100%;
}

ul{
	width: 69%;
	height: 30px;
	float: right;
	position: relative;
	margin-top: 3.5%;
	bottom: 28px;

}

.menu{
	display: inline-block;
	font-family: "Ariel", sans-serif;
	font-size: 18px;
	margin: 2.5%;
	color: black;

}

.div-menu{
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#homepage{
	color: white;
	border: 10px solid black;
	background-color: black;
	font-weight: bold;
}

.final{
	position: relative;
	right: 2.5%;
	bottom: 30px;
	width: 20%;
	height: 450px;
	float:left;
	margin: 2.5%;
}

.final img{
	position: relative;
	right: 1%;
	display: block;
	width: 110%;
	margin-top: 10%;

}

.final p{
	width: 100%;
}

.imagem-menu{
	display: none;
}

.imagem-menu img{
	width: 12%;
	position: absolute;
	top: -2px;
}
#bloco{
	display: none;
	background-color: black;
}

#bloco img{
	display: none;
}

@media screen and (max-width: 450px){
	.inicio{
		background-color: rgb(65, 53, 20);
		width: 100%;
		height: 16px;
	}
	ul{
		display: none;

	}
	.imagem-menu{
		display: block;

	}
	#imagem-principal{
		border: 0px;
	}
	span{
		display: none;
	}
	h1{
		color: white;
		position: relative;
		left: 207%;
		bottom: 5%; /*44*/
		text-transform: uppercase;
		font-size: 19px;
	}
	h1 a{
		font-weight: bold;
	}
	.final #img2{
		display: none;
	}
	.final #img3{
		display: none;
	}
	.final #img4{
		display: none;
	}
	#img1 img{
		width: 370px;
		height: 360px;		
	}
	#img1 h2{
		text-align: justify-all;
		width: 300%;
		height: 15px;
	}
	#img1 p{
		text-align: justify-all;
		width: 450%;
		height: 20px;
	}
	.final{
		position: relative;
		left: 5%;
		bottom: 3%;
	}
	#bloco{
		display: block;
		float: left;
		width: 370px;
		height: 50px;
		position: relative;
		bottom:68px;
		left: 4.2%;
	}
	#bloco b{
		color:white;
		font-size: 13px;
		position: relative;
		top: 16px;
		left: 3%;
		font-family: "Garamond", "serif", sans-serif;
		font-style: normal;	
	}
	#bloco img{
		display: block;
		width: 10%;
		position: relative;
		bottom: 25px;
		float: right;
	}
}