
.topo{
   background: ghostwhite;
   width: 100%;
   height: 45px; 
    
}

.MenuTopo ul, .MenuTopo ul li{
                display:inline;
                margin:0;
                padding:0;
                list-style:none;
            }

            .MenuTopo ul li{
                position:relative;
            }

            .MenuTopo ul li a{
                display:inline-block;
                width:100px;
                font-family:georgia;
                font-size:100%;
                font-weight: 700;
                color:blue;
                margin:0px 0px 0px 0px;
                border:0px;
                padding:12px 7px 6px 7px;
            }


            .MenuTopo ul li a:hover{
                display:inline-block;
                width:100px;
                font-family:georgia;
                font-size:100%;
                
                color:#666;
                margin: 0px 0px 0px 0px;
                border:0px;
                padding:12px 7px 6px 7px;
            }

            .MenuTopo li ul{
                display:none;
                position:absolute;
                top:19px;
                left:0px;
            }

            .MenuTopo ul li:hover ul{
                display:inline-block;
            }

            .MenuTopo ul ul, .MenuTopo ul li:hover ul ul, .MenuTopo ul ul li:hover ul ul{
                display:none;
            }

            .MenuTopo ul li:hover ul, .MenuTopo ul ul li:hover ul, .MenuTopo ul ul ul li:hover ul{
                display:block;
            }
                    
.MenuTopoDireita {
    float: right;
                
            }

            .MenuTopoDireita ul, .MenuTopoDireita ul li{
                display:inline;
                margin:0;
                padding:0;
                list-style:none

            }

            .MenuTopoDireita ul li{
                position:relative;
            }

            .MenuTopoDireita ul li a{
                display:inline-block;
                width:80px;
                font-family:georgia;
                font-size:100%;
                font-weight: 200;
                color:graytext;
                text-align: center;
                margin:0px 0px 0px 0px;
                border:0px;
                padding:12px 7px 6px 7px;
            }


            .MenuTopoDireita ul li a:hover{
                display:inline-block;
                width:80px;
                font-family:georgia;
                font-size:100%;
                color: blue;
                text-align: center;
                margin: 0px 0px 0px 0px;
                border:0;
                padding:12px 7px 6px 7px;
            }

            .MenuTopoDireita li ul{
                display:none;
                position:absolute;
                top:19px;
                left:0px;
            }

            .MenuTopoDireita ul li:hover ul{
                display:inline-block;
            }

            .MenuTopoDireita ul ul, .MenuTopoDireita ul li:hover ul ul, .MenuTopoDireita ul ul li:hover ul ul{
                display:none;
            }

            .MenuTopoDireita ul li:hover ul, .MenuTopoDireita ul ul li:hover ul, .MenuTopoDireita ul ul ul li:hover ul{
                display:block;
            }
            
.menuLaranja{
    background:darkorange;
    width: 100%;
    height: 75px;
    position: static;   
} 
.botaoMenu{
    margin: 0px 0px 0px 0px;
    
    border:0;
    padding:20px 20px 20px 20px;
    
}

.m1 {
    
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px;
   
               
} 
.NomeMenu{   
    
   position: absolute; 
   top: 11% ; 
   left: 5% ;
    width: 103px; 
    height: 61px;
    font-family: georgia;
    font-size:100%;
    font-weight: 700;
    color: white;
   
}           
   
.logoMarca{
   position: absolute; 
   top: 8.5% ; 
   left: 42% ;
    width: 103px; 
    height: 61px;
    
    
}
.buscar{
   position: absolute; 
   top: 8.5% ; 
   left: 80% ;
    
    
    
}
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url(imagem/searchicon.png);
    background-position: 10px 10px; 
    background-repeat: no-repeat;
  
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 60%;
}
            
.noticias{
    
}
    
.lado1{
   background: black;
   width: 40%;
   height: 400px;
   float: right;
   margin-top: 40px;
   margin-right: 100px;
   position: relative;
}

.lado2{
  background: blue;
  width: 40%;
  height: 400px;
  float: left;
  margin-top: 40px;
  margin-left: 100px;
 position: relative;   
    
}

body{
    margin: 0;
    
}