<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up | Dribbble</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/cadastrar.css">
</head>
<body>
    <div class="main-container">
            <div class="container-lateral">
                <header>
                    <a class="logo" href="index.html">
                        <img src="img/dribbble-icone-yellow.png" alt="dribbble-yellow" width="90" height="22.5">
                    </a>
                    <h1>Discover the world’s top Designers & Creatives.</h1>
                </header>
            </div>
            <section>
                <nav>
                    <p>
                        Already a member? &nbsp;
                        <a href="login.html">Sign in</a>
                    </p>
                </nav>
                <div class="container-cadastro">
                    <div class="header-cadastro">
                        <h1>Sign up to Dribbble</h1>
                            <form class="cadastro" action="cadastro" method="post">
                                <button class="botao-google" name="button" type="submit">Sign up with Google</button>
                            </form>
                    </div>
                    <div class="dados-cadastro">
                        <form action="">
                            <fieldset>
                                <label for="username">Username</label>
                                <input type="text" id="username">
                                <label for="password">Password</label>
                                <input type="password" id="password" placeholder="3+ characters">
                                <label for="confirm_password">Confirm Password</label>
                                <input type="password" id="confirm_password">
                                <div class="botao-cadastrar">
                                    <button id = "botao-cadastrar">Create Account</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </section>
    </div>
</body>
<script src="cadastro.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</html>