<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>Dribbble - Discover the World's Top Designers & Creative Professionals</title>
        <link rel="stylesheet" href="../public/reset.css">
        <link rel="stylesheet" href="../public/grid.css">
        <link rel="stylesheet" href="../public/style.css">
        <link rel="sortcut icon" href="../public/img/logo_pagina.svg" type="image/svg">
    </head>
<body>
    <div class="site-nav">
            <div class="site-nav-container">
                    <div class="site-nav-desktop">
                        <div class="site-nav-logo">
                            <a class="dribbble_botão" href="../views/index.html">
                                    <img class="img_logo" src="../public/img/logo_site.svg" alt="dibbble_logo_site" width="76px" height="80px">
                            </a>
                        </div>
                        <nav  class="lista1">
                            <ul>
                                <li class="lista1_itens"><a href="../views/manutencao.html">Inspiration</a></li>
                                <li class="lista1_itens"><a href="../views/manutencao.html">Find Work</a></li>
                                <li class="lista1_itens"><a href="../views/manutencao.html">Learn <span class="lista1_Design">Design</span></a></li>
                                <li class="lista1_itens"><a href="../views/manutencao.html">Go Pro</a></li>
                                <li class="lista1_itens"><a href="../views/manutencao.html">Hire Designers</a></li>
                            </ul>
                        </nav>
                            
                    </div>
                    <nav class="lista2"> 
                        <ul>
                            <li class="lupa"><a href="../views/manutencao.html"><img class="img_lupa" src="../public/img/dribbble-lupa.svg" alt="dibbble_lupa"></a></li>
                            <li class="sign_in"><button type="button" onclick="campo_login('text_content')">Sign in</button></li>
                            <li class="sign_up"><button type="button" onclick="campo_cadastro('text_content')">Sign Up</button></li>
                        </ul>
                    </nav>                   
            </div>
    </div>
    <div style="background: #F9F8FD">
        <div class="container_fundo">
            <div class="text_content" id="text_content">
                <h1>Discover the world’s top designers & creatives</h1>
                <p>Dribbble is the leading destination to find & showcase creative work and home to the world's best design professionals.</p>
                <a class="sign_up2" href="../views/cadastrar.html">Sign Up</a>
            </div>
            <div class="login_content" id="login_content">
                <form action="">
                    <fieldset>
                        <label for="">Email Address</label>
                        <input type="text" id="email_login">
                        <p class="invalid" id="invalid"></p> 
                        <label for="">Password</label>
                        <input type="password" id="password_login">
                        <button id="botao-login">Sign in</button>
                    </fieldset>
                </form>
            </div>
            <div class="cadastro_content" id="cadastro_content">
                <form action="">
                    <fieldset>
                        <label for="">Email Address</label>
                        <input type="text" id="email_cadastro">
                        <p class="invalid_cad" id="invalid_cad"></p> 
                        <label for="">Password</label>
                        <input type="password" id="password_cadastro">
                        <label for="">Confirm password</label>
                        <input type="password" id="confirm_password">
                        <button id="botao-cadastro">Sign up</button>
                    </fieldset>
                </form>
            </div>
            <div class="img_content" id="img_content">
                <img src="../public/img/dribbble-fundo.png" alt="dribbble-fundo" width="510px" height="360px">
                <span>Art by 
                    <a href="https://dribbble.com/romainbriaux">Romain Briaux</a>
                </span>
            </div>
            <div class="logged" id="logged">
                <p>You're Logged</p>
                <button type="button" id="exit" onclick="exit()">Loggout</button>
                <div class="post" id="post">
                    <label for="">Poste alguma coisa:</label>
                    <input type="text" id="post_novo">
                    <button type="button" id="postar" onclick="postar()">Postar</button>
                    <button type="button" id="mostrar" onclick="mostrar()">Mostrar</button>
                    <ul id="lista-post">
                        <li></li>
                    </ul>
                </div>
            </div>
            
            <div class="fatos" id="fato">
                <ul id="lista_fatos">
                </ul>
            </div>
        </div>
        <div class="site-nav-mobile">
            <div class="site-container-mobile">
                <div class="menu-icon">
                    <a href="../views/manutencao.html"><img src="img/menu_icon.svg" alt="menu-icon" width="21px" height="21px"></a>
                </div>
                <div class="site-logo-mobile">
                    <a href="index.html"><img src="../img/logo_site.svg" alt="dribbble_botão" width="76px" height="60px"></a>
                </div>
                <div class="sign_in">
                    <button type="button" onclick="campo_login">Sign in</button>
                </div>
            </div>
        </div>
        <div class="container_fundo-mobile">
            <div class="container-imagem-fundo">
                <img class="imagem-fundo-tamanho" src="../img/dribbble-fundo.png" alt="dribbble-fundo">
                <span>Art by 
                    <a class="user-credits" href="https://dribbble.com/romainbriaux">Romain Briaux</a>
                </span>
                <div class="text-content-mobile">
                    <h1>Discover the world’s top designers & creatives</h1>
                    <p>Dribbble is the leading destination to find & showcase creative work and home to the world's best design professionals.</p>
                    <a class="sign_up2" href="cadastrar.html">Sign Up</a>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="../public/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</html> 