<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in | Dribbble</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <div class="main-container">
            <div class="container-lateral">
                <header>
                    <a class="logo" href="index.html">
                        <img src="img/dribbble-icone-pink.png" alt="dribbble-pink" width="90" height="22.5">
                    </a>
                    <h1>Discover the world’s top Designers & Creatives.</h1>
                </header>
            </div>
            <section>
                <nav>
                    <p>
                        Not a member? &nbsp;
                        <a href="cadastrar.html">Sign up now</a>
                    </p>
                </nav>
                <div class="container-login">
                    <div class="bloco-dados">
                    <div class="header-login">
                        <h1>Sign in to Dribbble</h1>
                            <form class="login" action="login" method="post">
                                <button class="botao-google" name="button" type="submit">Sign up with Google</button>
                            </form>
                    </div>
                    <div class="dados-login">
                        <form action="">
                            <fieldset>
                                <label for="">Username or Email Address</label>
                                <input type="text" id="email_login">
                                <label for="">Password</label>
                                <input type="password" id="password_login">
                                <button id="botao-login">Sign in</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
                </div>
            </section>
    </div>
</body>

<script src="login.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</html>