/*
* Francisco da Crux Xavier
* 30/02/2017
*
* Layout basico netflix
*/
html{
	background-color: black;
  	overflow-x:hidden;
  	font-family: helvetica, sans-serif;
  	line-height: 1;
  	color: white;
}
body{ 
    display: inline-table;
    background: -webkit-linear-gradient(left  ,rgba(0,0,0,0.90),rgba(0,0,0,0)),
    url("../Imagens/fundo.jpg") no-repeat; /*Safari 5.1-6*/
    background-size: 100%;
}
@media only screen and (max-width: 765px) {
	body{
		background-size: 120%;		
	}
}
@media only screen and (max-width: 440px) {
	body{
		background-size: 150%;		
	}
}

h1 {
	width: 90%;
	font-size: 350%;
	margin-top: 4%;
	margin-left: 21px;
}
@media only screen and (max-width: 564px) {
	h1{
		margin-left: 20px;
		margin-top: 29%;
		text-align:center;
	}

}
@media only screen and (max-width: 440px) {
	h1{
		font-size: 220%;
		margin: 240px 5px 40px 50px;
		text-align:center;
	}

}

ul{
	width: 100%;
	position: relative;
	

}
 ul li{
	display: inline-block;
	
}


.logo{
	width: 30%;
	margin-top: -21px;
	margin-left: -21px;
	
}

.linha{
	width: 100%;
}



.botao{
	background-color: #df0712;
	border-radius: 2px;
	color: white;
	text-decoration: none;
	font-size: 14px;
	padding-left: 34px;
	padding-right: 34px;
	padding-top: 14px;
	padding-bottom: 14px;
}



.botao.btn2{
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;

		}
.botao:hover{
	background-color: #f40612;
}

.gratis{
	margin: auto 21px;
}
@media screen and (max-width: 564px) {
	.gratis{
		margin: 0;
		text-align:center;
	}
}

.login{
	position: absolute;
	background-color: #df0712;
	border-radius: 3px;
	color: white;
	text-decoration: none;
	font-size: 16px;
	padding-left: 18px;
	padding-right: 18px;
	padding-top: 9px;
	padding-bottom: 9px;
	margin-right: -20px;
	right: 85px;
	top: -4px;

}
.topo{
	height: 360px;
}



.conteudo{	
	display: inline-block;
	position: relative;
	width: 100%;
	height: 200px;
}

@media screen and (max-width: 1000px) {
	.conteudo{
		margin-top: 120px;
	}
}
@media screen and (max-width: 564px) {
	.conteudo{
		margin-top: 0px;
	}
}
.conteudo p{
	font-size: 119%;
	margin-left: 21px;
	margin-right: 70px;
	margin-bottom: 30px; /*afasta o botao"Assista um mes gratis"*/
	margin-top: -30px;
}
@media screen and (max-width: 564px){
	.conteudo p{
	font-size: 140%;
	text-align: center;
	margin-top: -30px
	}
}
@media screen and (max-width: 320px){
	.conteudo p{
	font-size: 100%;
	text-align: center;
	margin-top: 10px
	}
}																																								

.conteudo img{
	width:100%;
	height: 100%;
}
.conteudo.direita{
	position: absolute;
	right: 0;
	top: 40px;
}
.conteudo.menu{
	width: 70%;
	height: 600px;
	margin: 0 auto;
	display: table;/*centraliza a div */
}
.conteudo.interno{
	margin: 10;
	margin-top: 40px;
}
.conteudo.interno h3{
	text-align: center;

}
.conteudo.interno p{
	font-size: 23px;
	text-align: left;

}
@media screen and (max-width: 564px) {
	.conteudo.interno p{
	height: 23	0px;
	width: 100%;
	margin-left: 50px;
	text-align: center;
	

	}
}


.conteudo.metade{
	width: 45%;
	margin-left: 30px;
}
.conteudo.dois-tercos{
	width: 66%;
}
.conteudo.dois-tercos img{
	width:50%;
	height: 50%;
}
.conteudo.um-terco{
	width: 30%;
	margin-left: 20px;
	margin-top: 40px;
	margin-bottom: 0px;
	vertical-align: top;
}
.conteudo.um-terco img{
	width: 100%;
	height: 100%;
}
.menu-item{
																																																																																																																																																																																																																																																																																																																																																																																																																															
}
@media screen and (max-width: 320px) {
	.linha.menu-interno{

	}
}
