.atHome{
  background: #366D49;
  width: 100%;
  height: 37px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buyAtStar{
  font-family: 'Karla', sans-serif;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 1.8px;
  outline: none;
}

.logoAndMenuResponsive{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.starbucksLogo{
  width: 340px;
  margin: 5px 0 5px 30px;
}

.starbucksLogo img{
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1000px){

  .menuToggle{
    display: inline-block;
    margin-right: 25px;
    width: 20px;
    height: 25px;
  }

  .one,
  .two,
  .three{
    background: #366D49;
    width: 100%;
    height: 3px;
    margin: 4px auto;
  }
  
}

@media screen and (max-width: 750px) {
  
  .atHome {
    padding: 1.7rem 0;
  }  
  
  .starbucksLogo {
      width: 44.5vw;
      margin-left: 15px;
      margin-bottom: 2px;
    }
}
