.layout-cabecalho {
	height: 4rem;
	line-height: 4rem;
	border-bottom: 1px solid #ccc;

	background-color: #fff;
}

.layout-cabecalho--home {
	top: 0;
	left: 0;
	right: 0;
}

.layout-produto {
	height: 40rem;
	border-bottom: 1px solid #000;

	background-color: #000;
}

.layout-produto--2 {
	height: 31.5rem;
	border-bottom: 1px solid #f5f5f5;

	background-color: #f5f5f5;
}