body{
	padding: 0px;
	border: 0px;
	margin: 0px;
}

h1{
	max-width: 800px;
	color:#fff;
	font-size: 42px;
    font-family: Georgia,serif;
    margin: 0% 0% 0% 20%;
    padding-top: 100px;
    transform: skewX(+30deg);
}

.topo{
	position: fixed;
	width: 100%;
	height: 65px;
	top:0px;
	left:0px;
    z-index: 432;
    background-color: white;
}

.bannerr{

	position: relative;
	height: 380px;
	top:65px;
	background-image: url(imagens/baseline_banner_img.jpg);
	background-size: 40%;
	background-position: 100%;


}


.esquerda{
	background: linear-gradient(to right, #48cfad 5%, #3bafda 90%);

	position: absolute;
	width: 70%;
	height: 380px;
	display: inline;
	transform: skewX(-30deg);
	margin-left: -110px;
}

.universidades img{
	height: 30px;
	float: left;
	padding: 15px;
	padding-top: 25px;
	

	
}

.caixauni{
	position: relative;
	top:65px;
	height: 82px;
	max-width: 1275px;
	overflow: hidden;
	margin: auto;
	padding-left: 125px;	
}

.universidades{
	position: relative;
	right:-5%;
}

.bannerr2{
	background-image: url(imagens/Homepage-Background.jpg);
	position: relative;
	top:45px;
	height: 250px;
	max-width: 1200px;
	margin: auto;
	text-align: center;
}


.bannerr2 p{
	color: rgba(255,255,255,0.8);
	font-family: Arial,sans-serif;
	position: relative;
	top: 20%;
}


h2{
	color: rgba(255,255,255,0.8);
	font-family: Arial,sans-serif;
	font-weight: 600;
    line-height: 24px;
    position: relative;
    top: 25%;

}

.botao{
	border: 1px solid #7e778b;
	color: #7e778b;
	background-color: transparent;

	padding: 16px 30px;
	font-size: 14px;
	line-height: 18px;
	font-family: Arial,sans-serif;
	margin-top: 15px;
}

.botao:hover{
	background-color: #7e778b;
	color: white;
}

.botao2{
	border: 1px solid #2073d4;
    background-color: #2073d4;
    color: #fff;
    padding: 15px 27px;
    position: relative;
    top: 50px;


}

.botao2:hover{
	background-color: #3A5FCD;
	color: #fff;
}

.botaoin{
	padding: 20px 40px;
    font-size: 18px;
    line-height: 24px;
    font-family: Arial,sans-serif;

    border: 1px solid #4285f4;
    background-color: #4285f4;
    color: #fff;
    margin: 0% 0% 0% 25%;
    transform: skewX(+30deg);
 
}

.botaoin:hover{
	background-color: #2073d4;
}

#one{
	color: #333;
    text-decoration: none;
    background-color: #fafafa;
    border-right: 1px solid #d9d9d9;
 
    display: inline-block;
    
    overflow: hidden;
    position: fixed;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90px;
    height: 40px;

    font-size: 14px;
    font-family: Arial,sans-serif;
    padding-left: 0px;
    left: 200px;
    top: 15px;
}

#two{
	position: fixed;
	height: 40px;
	width: 40px;
	top: 15px;
	left:710px;

}

#barrabusca{

    position: fixed;
    top: 15px;
    left: 290px;
    border-right: 1px solid #d9d9d9;
    box-shadow: none;
    opacity: 1;
   
    color: #969696;
    width: 452px;
    height: 34px;


}

#logotipo{
	position: fixed;
	top: 25px;
	left: 25px; 
}

#cadastro{
	position: fixed;
	top: 15px;
	right: 25px;
	height: 36px;
    width: 88px;
    font-size: 14px;
    border: 1px solid #2073d4;
    background-color: #2073d4;
    border-radius: 2px;
    color: #fff;

}

#cadastro:hover{
	background-color: #428bca;
}

.topo a{

	color: #333;
    text-decoration: none;
    position: fixed;
}

.topo a:hover{
	color: #0275d8;
	
}

.link1{
	top:25px;
	right: 225px;
}

.link2{
	top:25px;
	right: 135px;
}

.linhavertical{
	position: fixed;
	top: 25px;
	right: 190px;
	width: 25px;
	transform: rotate(90deg);
	border-color: #e0e0e0;
	background-color: #e0e0e0;
	border: 0px;
}


#barratopo {
	visibility: visible;
}
