@import url('https://fonts.googleapis.com/css?family=Arvo|Electrolize|Montserrat|Open+Sans|Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:700,800,900');

*, html {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: 'Montserrat', Arial, sans-serif;
}

.menubar {
  background-color: #000;
  background-image: url(../imgs/nav-bg.png);
  background-size: 2px;
  overflow: hidden;
  list-style-type: none;
  text-transform: uppercase;
}

.menubar a {
  float: left;
  color: #969696;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-style: normal;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.15;
}

.menubar a:hover {
  background-color: #959595;
  color: #fff;
}

.menubar a.play {
  background-color: #7B6E3B;
  color: #fff;
  border: 1px solid #d0a137;
  background-image: url(../imgs/btn-bg.jpg);
  background-size: 2px;
}

.menubar li.logo {
  display: inline;
}

.menubar li.logo img {
  height: 17px;
  display: flex;
}

.menubar li.align-right {
  display: inline;
  float: right;
}

.menubar li.item a img {
  width: 11px;
  height: 9px;
  margin-left: 10px;
}

.menubar li.item a img.icon {
  width: 14px;
  height: 12px;
  margin-right: 15px;
  opacity: .5;
}

.main {
  height: calc(100vh - 45px);
  min-height: 775px;
  background-image: url("../imgs/home-background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main h2 {
  font-weight: 800;
  color: #fff;
  font-size: 27px;
  letter-spacing: 3px;
  text-align: center;
  padding: 0px 0 25px;
}

.main .content {
  position: absolute;
  left: 50%;
  bottom: 50px;
  max-width: 550px;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.main .more-info {
  display: flex;
  justify-content: center;
}

.main .more-info button {
  padding: 13px 20px;
  position: relative;
  width: fit-content;
  border-top: 2px solid #cdc4bd;
  border-bottom: 2px solid #cdc4bd;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  background-color: #e5e3e3;
}

.main .more-info a {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 24px;
  color: #33312f;
  text-transform: uppercase;
  text-shadow: 0px 0px 10px 000000;
  letter-spacing: 2px;
  position: relative;
  z-index: 2;
  display: block;
  width: fit-content;
}