@media(min-width: 200px) and (max-width: 575px)
{
  .main {
    background-image: url("../imgs/home-background-mobile.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media(min-width: 200px) and (max-width: 768px)
{
  .menubar .item {
    display: none;
  }

  .menubar .item.align-right {
    display: none;
  }
}

@media(min-width: 992px) and (max-width: 1380px)
{
  .main .content {
    bottom: -120px !important;
  }
}