body{
	font: 400 14px/1.6 "Open Sans",sans-serif;
	background-image: url(../img/bg.jpg);
	background-repeat: repeat;
}
 header {
	background-color: #eee;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 55px;
	border-bottom: 1px solid #ddd;
	z-index: 100;
}

a {
  text-decoration: none;
}

body a{
	cursor: pointer;
}

/*HEADER*/

input#toggle{
	display: none;
}

#navmenu li{
	font-size: 14px/1.6;
	display: inline-block;
	padding: 10px;
	padding-top: 0px;
	padding-right: 5px;
}

#navmenu {
	padding: center;
	margin: 0;
	right: 0;
	margin-right: 15px;
}

#navmenu a{
	text-decoration: none;
	color: #666;
}

#navmenu a:hover{
	color: #666;
}

#logo{
	position: fixed;
	top: 2px;
	margin: 0;
	padding: 10px 25px;
	width: auto;
	border-left: none;
	z-index: 1;
}

#logo a{
	display: block;
	font: 25px "Helvetica Neue","Open Sans",sans-serif;
	font-weight: 100;
	color: #444;
	text-decoration: none;
}

#navbar{
	padding-left: 5%;
	max-width: 1000px;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	top: 15px;
	box-sizing: content-box;
}

#navmenu ul{
	background-color: #fff;
	list-style-type: none;
	margin: 0;
	padding: 0;
	border: 1px solid #888;
	border-radius: 3px;
	position: absolute;
	display: none;
}

#navmenu ul li{
	padding-top: 1px;
	float: none;
	display: block;
}


#navmenu ul a{
	white-space: nowrap;
}

#navmenu li:hover ul{
	display:block;
}

@media screen and (max-width:900px){
	#logo {
		text-align: center;
		position: relative;
		z-index: -1;
	}

	#logo a{
		font-weight: bold;
	}

	ul{
		position: static;
	}

	#navbar{
		padding: 0;
		display: none;
		top:0;
		left: 0;
		justify-content: flex-start;
		margin-left: 0;
	}

	li{
		margin-bottom: 1px;
	}
	ul li, li a{
		width: 100%;
	}

	#hide {
		display: none;
	}

	#toggle:checked ~ div#navbar{
		display: block;
	}

	.button {
  		float: left;
  		display: block;
  		width: 30px;
 		height: 28px;
 		margin-left: 16px;
 		margin-top: 9px;
 		border: 1px solid #ccc;
 		border-radius: 3px;
 		padding-top: 7px;
 		padding-left: 5px;
 		cursor: pointer;
	}

	#threelines{
		background: linear-gradient(
    		to bottom,
    			#555, #555 20%,
    			#eee 20%, #eee 40%,
    			#555 40%, #555 60%,
    			#eee 60%, #eee 80%,
    			#555 80%, #555 100%
  		);
  		width: 25px;
  		height: 20px;

	}

	header{
		box-shadow: 3px;
	}

	#navbar ul{
		background-color: #eee;
	}

	#navmenu{
		position: absolute;
		width: 900px;
		margin-right: 0;
		left: -31;
	}

	#navmenu a{
		font-size: 18px;
	}

	#navmenu li{
		border-bottom: 1px solid #ddd;
	}

	#navmenu ul{
		position: relative;
		border: none;
		background-color: #ccc;
		max-height: 180px;
		overflow-y: auto;
		overflow-x: hidden;
	}

	#navmenu ul a{
		font-size: 16px;
	}
}


/*###############Section main-content ###############*/
#main-content {
    width: 80%;
    margin: 120 170 30 70;
    max-width: 900%;
    /*padding-right: 9%;*/
    display: flex;
}

#main-content .left-content {
    display: block;
    font: 4.0em "Helvetica Neue","Open Sans",sans-serif;
    margin-bottom: .25em;
    font-weight: 100;
    width:50%;
    margin-right: 50px;
}

#main-content .left-content .express-version {
  font-size: 0.2em;
  margin-left: 0.5em;
  color: #259dff!important;
  font-weight: 400;
}
#main-content .left-content .express-text {
  color: #353535;
}

.description {
  position: relative;
  top: 7px;
  font: 100 .9em "Helvetica Neue","Open Sans",sans-serif;
  color: #aeaeae;
  line-height: 1.0;
}

#main-content span a {
  color: #259dff;
}

#main-content .left-content blockquote {
  margin: 0;
  font-size: 14px;
      font-family: Consolas,Monaco,"Andale Mono",monospace;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 0.4em;
  border: 1px solid #eee;
  margin-top: 65px;
  max-width: 70%;
}

#frameworks a{
  color: #25A9FE;
}

/*######## Vídeo #######*/
#main-content .video {
  width: 50%;
  padding: 25px 0px 0px 0px;
}

#main-content .video iframe {
  min-width: 100%;
  min-height: 273px;
}


/*########## Features ######## */
#features{
  /*width: 1215px;*/
margin: 40 170 30 70;
max-width: 900%;
/* padding-right: 5%; */
/*display: flex;*/
}
.boxes {
  width: 100%;
}
.boxes div {
  width: 20%;
  margin-right: 50px;
  float: left;
}
.boxes div h2 {
  font-weight: 400;
  font-size: 30px;
  color: #353535;
  margin: 5px 20px;

}
.boxes div p {
  font-size: 15px;
  margin: 5 20;
  color: #555;
}



@media screen and (max-width:1000px) {
  .description {
    width: 100%;
    font-size: 34px;
  }
  #main-content {
    width: 100%;
    margin: 10 0% 0 0%;
    padding-right:0;
    display: block;
  }
  .boxes div {
    width: 100%;
    margin-right: 50px;
  }
  #main-content .video {
    width: 100%;
  }
  #main-content .left-content{
    width: 100%;
  }

  #features {
    margin: 30 auto;
    max-width: 900%;
    padding: 0 0%;
    display: flex;
  }
  #main-content .left-content blockquote, .express-text, .express-version {
    display: none;
  }
}
