@font-face {
    font-family: 'ProximaNovaT-Thin';
    src: url(assets/fonts/2C4B9D_A_0.woff2);
}
@font-face {
    font-family: 'ProximaNovaT-ThinBold';
    src: url(assets/fonts/2C4B9D_D_0.woff2);
}
@font-face {
    font-family: 'ProximaNovaT-ThinBold2';
    src: url(assets/fonts/2C4B9D_B_0.woff2);
}
@font-face {
    font-family: 'ProximaNovaT-Bold';
    src: url(assets/fonts/2C4B9D_11_0.woff2);
}