body{
    margin:0;
    position: relative;
}

.background-container{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
}
.background-image{
    width: 100%;
    height: 100%;
}

header{
    position: relative;
    width: 100%;
    height: 70px;
    border-bottom: 0.001px solid rgba(226, 226, 226, 0.377);
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom right, #0a214e88,  rgba(255,0,0,0));
}
.wrapper{
    display: flex;
    max-width: 1250px;
    margin: 0 auto;
}
.logo-container{
    display: flex;
    max-width: 150px;
    height: 70px;
    cursor: pointer;
}
.logo-branca{
    min-width: 100%;
    max-height: 100%;
}
.img-seta{
    width: 22px;
}
.barra-menu{
    width: 16px; 
    margin-right: 5px;
}
.link-container{
    display: flex;
    min-width: 65%;
    justify-content: flex-end;
}
.link-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 100%;
    padding: 0px 15px 0px 30px;
    color: rgb(241, 238, 238);
    font-weight: bold;
    font-size: small;
}
.link-menu:hover{
    border-bottom: 2px solid white;
}
.button-header{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width:25%;
    margin: 0px 60px 0px 10px;
 
}
.button-entrar{
    text-decoration: none;
    color: rgb(241, 238, 238);
    padding: 13px 25px 13px 25px;
    border-radius: 20px;
    border: 1px solid white;
    font-size: 12px;
    font-weight: bold;
}
.button-entrar:hover{
    color: rgba(223, 223, 223, 0.685);
}
.button-criar{
    margin-left: 10px;
    text-decoration: none;
    color: #0d3685;
    padding: 13px 14px 13px 14px;
    border-radius: 20px;
    background-color: white;
    font-size: 12px;
    font-weight: bold;
}
.button-criar:hover{
    background-color: rgb(238, 235, 235);
}

.div-center{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 450px;
    height: 355px;
    padding: 75px 0px 75px 0px;
}
.area-body-title{
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
}
.text-title{
    margin: 0;
    font-size: 47px;
    color: white;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.area-subtitle{
    width: 100%;
    height: 50px;
    padding-top: 10px;
}
.subtitulo{
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    font-size: 21px;
    color: white;
}
.area-button{
    display: flex;
    width: 86%;
    height: 50px;
    padding-top: 40px;
    margin-bottom: 20px;
    align-items: center;
}
.text-button{
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    width: 85%;
    height: 50px;
    border: none;
    border-radius: 25px;
    background-color: white;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}
.text-button-link{
    color: #2f64cc;
    text-decoration: none;    
}
.text-button-link:active{
    text-decoration: underline;
}
.area-bank{
    display: inline-flex;
    justify-content: space-between;
    width: 70%;
    height: 40px;
}
.area-bank-blocks{
    width: 40px;
    height: 40px;
}
.area-bank-blocks-description{
    width: 59px;
    height: 40px;
    text-align: center;
}
.image-bank{
    width: 100%;
    height: 100%;
}
.text-bank{
    margin: 0;
    font-size: 15px;
    color: white;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.area-term{
    display: flex;
    width: 100%;
    height: 30px;
    padding-top: 30px;
}
.text-term{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    margin: 0;
    font-size: 15px;
    color: white;
}
footer{
    display: flex;
    position: relative;
    background-color: #0d3685;
    color: white;
    width: 100%;
    height: 180px;
}
.footer-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}
.text-footer{
    font-weight: 350;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}
.button-footer{
    padding: 10px;
    border: none;
    text-decoration: none;
    border-radius: 20px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #0d3685;
    background-color: white;
    cursor: pointer;
}

/* escondendo elementos mobile*/
.header-mobile{
    display: none;
}
.text-principal-container-mobile{
    display: none;
}

/** responsividade @media notebook leonardo mateus **/

@media only screen and (max-width: 1300px) {
    .wrapper{
        display: flex;
        max-width: 1000px;
        margin: 0 auto;
    }
    .div-center{
        max-height: 350px;
        padding: 35px 0px 35px 0px;
    }
    .area-body-title{
        max-height: 100px;
    }
    .text-title{
        font-size: 38px;
    }
    .subtitulo{
        font-size: 21px;
    }
    .text-button{
        width: 75%;
        height: 45px;
    }
    footer{
        max-height: 180px;
    }
    .footer-container{
        max-width: 100%;
    }
    .text-footer{
       font-size: 25px;
    }
}

/* responsividade para @media notebook alexandre*/
@media only screen and (max-width: 1200px) {
    .wrapper{
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
    }
}

/* responsividade para mobile */
@media only screen and (max-width: 600px){
    /* apagando componentes do header */
    .background-container{
        display: none;
    }
    .logo-container{
        display: none;
    }
    .logo-branca{
        display: none;
    }
    .link-container{
        display: none;
    }
    .button-header{
        display: none;
    }
    .div-center{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .area-button{
        justify-content: center;
        padding-top: 70px;
    }
    .text-bank{
        color: #0f4186;
    }
    .area-bank{
        width: 52%;
    }
    .text-title{
        color: black;
    }
    .area-subtitle{
        padding-top: 0px;
        text-align: center;
        align-content: center;
        width: 86%;
    }
    .subtitulo{
        color: black;
        font-size: 22px;
    }
    .text-footer-mobile{
        display: none;
    }
    .text-button{
        height: 55px;
        width: 65%;
        height: 95%;
        background-color: #0070ba
    }
    .text-button-link{
        color: white;
    }
    .area-body-title{
        display: none;
    }
    .text-term{
        color: black;
    }
    header{
        display: none;
    }
    /* aparecendo componentes mobile*/
    .header-mobile{
        display: flex;
        position: relative;
        padding: 17px 0px;
        background-color: #0f4186;
        justify-content: center;
        align-items: center;
    
    }
    .button-container-mobile{
        margin: 0px 10px;
        width: 90px;
        height: 38px;
    }
    .button-header-mobile{
        display: flex;
        text-decoration: none;
        color: white;
        border: 1px solid white;
        border-radius: 70px;
        padding: 10px;
        font-size: 13px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
    }
    .logo-mobile{
        width: 28px;
        margin: 0px 90px;
        cursor: pointer;  
    }
    .text-principal-container-mobile{
        display: flex;
        position: relative;
        flex-direction: column;
        width: 100%;
        padding: 180px 0px;
        background-color: #0f4186;
        color: white;
        align-items: center;
        justify-content: center;
    }
    .text-principal-mobile{
        margin: 0px;
        font-size: 30px;
        font-weight: lighter;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    footer{
        justify-content: center;
    }
    .footer-container{
        width: 80%;
    }
}
@media only screen and (max-width: 360px){
    .area-bank{
        width: 85%;
    }
    .text-button{
        width: 100%;
        height: 95%;
    }
    .subtitulo{
        font-size: 19px;
    }
}