@media screen {
	.aba { 
		height: 60px;
		width: 100%;
		position: fixed;
		margin: 0;
		background-color: #FFFFFF;
		opacity: 0.9;
		z-index: 1;
	}

	.centro_aba{
		margin-left: 15%;
		margin-right: 15%;
	}

	.centro_aba ul{
		list-style-type: none;
	    margin: 0;
	    padding: 0;
	}

	.centro_aba li{
		display: inline;
		margin-left: 2%;
	}


	.dropdown {
    	display: inline-block;
    	cursor: pointer;
	}

	.dropdown-content {
    	display: none;
    	position: absolute;
    	background-color: #f9f9f9;
    	min-width: 160px;
    	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    	padding: 12px 16px;
    	cursor: pointer;
	}

	.dropdown-content a{
    	font-family: sans-serif;
		font-size: 11.4px;
		font-weight: 100;
		color: #999;
		text-decoration: none;
		position: relative;
		float: left;
		padding-left: 2%;
		padding-right: 1%;
		margin-top: 22.5px;
		text-align: center;
		display: block;
	}

	.dropdown:hover .dropdown-content {
    	display: block;
	}

	.pedir_convite {	
		font-family: sans-serif;
		font-size: 9.8px;
		font-weight: normal;
		color: #6E2B77;
		border: 1px solid #6E2B77;
	    padding: 7.2px 13.6px;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    margin-top: 14px;
	    cursor: pointer;
	    border-radius: 3px;
	}

	.pedir_convite:hover {
		background-color: #6E2B77;
		color: #FFFFFF;
	}

	.fonte_aba {
		font-family: sans-serif;
		font-size: 11.4px;
		font-weight: 100;
		color: #999;
		text-decoration: none;
		position: relative;
		float: left;
		padding-left: 2%;
		padding-right: 1%;
		margin-top: 22.5px;
		text-align: center;
		float: left;
	}

	.fonte_aba:hover{
		color: #6E2B77;
	}

	body {
		margin: 0;
	}

	.wrapper{
				max-width: 900px;
				margin: 0_auto;
			}

	.logo {
		position: static;
		width: 80px;
		height: 32px;
		margin-top: 15px;
		float: left;
		cursor: pointer;
	}

	.painel_branco{
		height: 908px;
		width: 100%;
		display: block;
		padding-top: 155px;
		text-align: center;
		background-image: linear-gradient(to bottom, white, #D3D3D3);
		z-index: -5;
		opacity: 0.9;
	}

	.painel_branco h1{
		font-family: sans-serif;
		font-weight: 300;
		font-size: 28.8px;
		color: #6E2B77;
		cursor: default;
	}


	.painel_roxo{
		display: block;
		height: 908px;
		width: 100%;
		background-color: #6E2B77;
	}

	#phone {
		position: absolute;
		margin-top: 100px;
		margin-left: -50px;
		z-index: -2;
	}

	#card {
		position: absolute;
		margin-top: 210px;
		margin-left: -310px;
		z-index: -1;
	}

	#watch{
		position: absolute;
		margin-top: 400px;
		margin-left: 170px;
		z-index: -1;
	}

	#arrow{
		position: absolute;
		margin-top: 600px;
		margin-left: -290px;
		z-index: -1;
		opacity: 0.3;
	}

	.div_mobile{
		margin-top: 430px;
		margin-left: -520px;
	}

	.div_coracao{
		padding-top: 200px;
	}

	.div_coracao h2{
		font-size: 38.4px;
		font-weight: 300;
		text-align: center;
		font-family: sans-serif;
		color: #FFFFFF;
		opacity: 0.9;
		margin-top: 75px;
		cursor: default;
	}

	.div_coracao p{
		font-size: 16px;
		font-weight: 300;
		text-align: center;
		font-family: sans-serif;
		color: #FFFFFF;
		margin: 5px;
		opacity: 0.5;	
		cursor: default;
	}

	#heart {
		position: absolute;
		text-align: center;
		left: 50%;
	    margin-right: -50%;
	    transform: translate(-50%, -50%);
	}

	.div_depoimento {
		display: inline-block;
		margin: 12.5px;
		height: 17.5%;
		width: 18%;
		border: 1px solid white;
		border-radius: 3px;
		overflow: hidden;
		padding: 30px 30px 30px 30px;
		text-align: center;
		font-family: sans-serif;
		font-size: 16px;
		font-weight: normal;
		color: #FFFFFF;
		cursor: default;

		max-width: 230px;
		min-width: 230px;
		max-height: 230px;
		min-height: 230px;
	}

	.painel_twitter{
		position: absolute;
		margin-top: 200px;
		text-align: center;
		left: 50%;
	    margin-right: -50%;
	    transform: translate(-50%, -50%);
	}


	.div_perfil{
		overflow: hidden;
	}

	#perfil {
		position: inherit;
		margin-top: 130px;
		text-align: center;
		left: 50%;
	    margin-right: -50%;
	    transform: translate(-50%, -50%);
	}

	.botao_depoimentos {	
		font-family: sans-serif;
		font-size: 11.2px;
		font-weight: normal;
		color: #FFFFFF;
		border: 1px solid #FFFFFF;
	    padding: 11.2px 17.6px;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    margin: 25px 2px;
	    cursor: pointer;
	    border-radius: 3px;
	    float: right;

	    position: absolute;
		text-align: center;
		left: 50%;
	    margin-right: -50%;
	    transform: translate(-50%, -50%);
	    margin-top: 425px;

	}

	.botao_depoimentos:hover {
		background-color: #FFFFFF;
		color: #6E2B77;
	}

	.painel_verde{
		display: none;
	}	
}

@media screen and (max-width: 1025px){
	.centro_aba{
		margin-left: 5%;
		margin-right: 5%;
	}

	#gordo {
		display: none;
	}

	#watch{
		position: absolute;
		margin-top: 400px;
		margin-left: 130px;
		z-index: -1;
	}

	#card {
		position: absolute;
		margin-top: 210px;
		margin-left: -270px;
		z-index: -1;
	}
	.div_mobile{
		margin-top: 430px;
		margin-left: -440px;
	}

	#arrow{
		position: absolute;
		margin-top: 600px;
		margin-left: -250px;
		z-index: -1;
		opacity: 0.3;
	}
	

	.div_depoimento {
		display: inline-block;
		margin: 12.5px;
		height: 17.5%;
		width: 18%;
		border: 1px solid white;
		border-radius: 3px;
		overflow: hidden;
		padding: 30px 30px 30px 30px;
		text-align: center;
		font-family: sans-serif;
		font-size: 16px;
		font-weight: normal;
		color: #FFFFFF;
		cursor: default;

		max-width: 215px;
		min-width: 215px;
		max-height: 250px;
		min-height: 250px;
	}

	.botao_depoimentos {	
		font-family: sans-serif;
		font-size: 11.2px;
		font-weight: normal;
		color: #FFFFFF;
		border: 1px solid #FFFFFF;
    	padding: 11.2px 60px;
    	text-align: center;
    	text-decoration: none;
    	display: inline-block;
    	margin: 25px 2px;
    	cursor: pointer;
    	border-radius: 3px;
    	float: right;

	    position: absolute;
		text-align: center;
		left: 50%;
	    margin-right: -50%;
	    transform: translate(-50%, -50%);
	    margin-top: 425px;

	}
}

@media screen and (max-width: 685px){
	#japa {
		display: none;
	}

	.aba { 
		height: 60px;
		width: 100%;
		position: absolute;
		margin: 0;
		background-color: #FFFFFF;
		opacity: 1;
		z-index: 1;
	}

	.logo {
		
		margin-top: 30px;
		position: absolute;
		text-align: center;
		left: 50%;
	    margin-right: -50%;
	    transform: translate(-50%, -50%);
	}

	.painel_verde{
		height: 455px;
		width: 100%;
		display: block;
		padding-top: 155px;
		text-align: center;
		background-image: linear-gradient(to bottom, #236B8E, #C0C0C0);
		z-index: -5;
		opacity: 0.9;
	}

	.painel_verde h1{
		font-size: 22.4px;
		font-weight: 300;
		text-align: center;
		font-family: sans-serif;
		color: #FFFFFF;
		margin-top: -100px;
		cursor: default;
		display: block;
	}

	.painel_verde p {
		margin-top: 20px;
		font-size: 13px;
		font-weight: 300;
		text-align: center;
		font-family: sans-serif;
		color: #FFFFFF;
		margin: 5px;	
		cursor: default;
	}

	#card {
		margin-top: 40%;
		position: absolute;
		text-align: center;
		left: 50%;
	    margin-right: -50%;
	    transform: translate(-50%, -50%);
	    display: block;
	}

	#phone_2 {
		margin-top: 172px;
		position: absolute;
		text-align: center;
		left: 50%;
	    margin-right: -50%;
	    transform: translate(-50%, -50%);
	}

	.pedir_convite {	
		font-family: sans-serif;
		font-size: 12.8px;
		font-weight: normal;
		color: #6E2B77;
		border: 1px solid white;
		background-color: white;
	    padding: 15.2px 13.6px;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    margin-top: 14px;
	    cursor: pointer;
	    border-radius: 3px;
	    display: block;

	    margin-left: 30px;
	    margin-right: 30px;
	}

	.div_coracao{
		padding-top: 150px;
	}

	.botao_depoimentos {	
		font-family: sans-serif;
		font-size: 11.2px;
		font-weight: normal;
		color: #FFFFFF;
		border: 1px solid #FFFFFF;
	    padding: 11.2px 17.6px;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    margin: 25px 2px;
	    cursor: pointer;
	    border-radius: 3px;
	    float: right;

	    position: absolute;
		text-align: center;
		left: 50%;
	    margin-right: -50%;
	    transform: translate(-50%, -50%);
	    margin-top: 400px;

	}
}

@media screen and (max-width: 360px){
	#phone_2 {
		margin-top: 130px;
		position: absolute;
		text-align: center;
		left: 50%;
	    margin-right: -50%;
	    transform: translate(-50%, -50%);
	}
}