@font-face {
    font-family: Raleway;
    src: url(Raleway-Light.ttf);
}
@font-face {
    font-family: Raleway-bold;
    src: url(Raleway-ExtraBold.ttf);
}
@font-face {
    font-family: Raleway-thin;
    src: url(Raleway-Thin.ttf);
}
@media only screen and (min-width: 1110px) {
	body{
		background-image: url("background.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: fixed;
		margin: 0;
		padding: 0; 
		color: white; 
	}
	.topdiv{
		background-color: #d33c44;
		width: 100%;
		height: 76px;
		float: left;
	}
	img{
		margin-top: 1.75%;
	    margin-left: 15px;
	    float: left;
	    width: 240px;
	}
	.cookbook{
		position: relative;
		background-color: #363638;
		width: 50%;
		height: 46px;
		float: left;
		text-align: center;
		color: #7a7b76;
		font-family: Raleway;
	}
	.cookbook:hover{
		background-color: #323233;
	}
	.api{
		position: relative;
		background-color: #404042;
		width: 50%;
		height: 46px;
		float: left;
		text-align: center;
		color: #7a7b76;
		font-family: Raleway;
	}
	.api:hover{
		background-color: #38383a;
	}
	.cookbooktxt, .apitxt{
		margin-top: 1.75%;
	}
	.cookbook:hover, .api:hover{
		color: #bdbdb5;
	}
	.book{
		position: absolute;
		float: left;
		width: 40px;
		height: 35px;
		top: 5px;
		margin: 0px 0px 0px 0px;
		padding-left: 80px;
	}
	.tools{
		position: absolute;
		float: left;
		width: 40px;
		height: 30px;
		top: 7px;
		margin: 0px 0px 0px 0px;
		padding-left: 60px;
	}
	.donate{
		float: right;
		background-color: #363637;
		width: 76px;
		height: 76px;
		color: #fff;
	}
	.donate:hover{
		background-color: #515152;
	}
	.donatetxt{
		margin-top: 41%;
		margin-left: 20%;
		font-family: Raleway-Bold;
		font-size: 11px;
	}
	.chevron::before {
		border-style: solid;
		border-width: 0.16em 0.16em 0 0;
		content: '';
		display: inline-block;
		height: 0.25em;
		right: 0.30em;
		position: relative;
		top: 0.25em;
		transform: rotate(135deg);
		vertical-align: top;
		width: 0.25em;
	}
	.chevron.right:before {
		left: -5px;
		transform: rotate(45deg);
	}
	.dropdown{
		float: right;
		margin-top: 0%;
		margin-right: 3%;
		display: inline-block;
		position: relative;
	}
	.first{
		height: 76px;
		background-color: transparent;
		color: white;
		font-size: 14px;
		border: none;
		cursor: pointer;
		font-family: sans-serif;
	}
	.dropdown-content{
		display: none;
		position: absolute;
		background-color: #9e2d33; 
		z-index: 1;
		min-width: 280px;
		right: 2px;
	}
	.dropdown-content a{
		color: white;
		text-decoration: none;
		display: block;
		padding: 12px 16px;
		font-family: sans-serif;
		font-size: 12px;
		margin-bottom: 0.5px;
	}
	.dropdown:hover .dropdown-content{
		padding: 10px;
		display: block;
		float: left;
	}
	.dropdown-content a:hover{
		position: relative;
		left: 10px;
		right: 100px;
	}
	li{
		display: block;
	}
	h1, h3{
		font-family: Raleway;
		position: absolute;
	}
	h1{
		margin-top: 15%;
		left: 29%;
		font-size: 42px;
		text-align: center;
	}
	h3{
		margin-top: 20%;
		left: 25%;
		font-size: 64px;
		text-align: center;
	}
	h1::selection, h3::selection{
		background-color: red;
	}
	.double{
		float: left;
		font-size: 10px;
		display: inline;
	}
	.lines{
		display: none;
	}
	.new-tag{
		position: absolute;
		width: 24.67px;
		height: 24px;
		top: 10px;
		left: 40px; 
	}
	
}
@media only screen and (max-width: 1110px){
	body{
		background-image: url("background.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: fixed;
		margin: 0;
		padding: 0; 
		color: white;
	}
	.new-tag{
		display: none;
	}
	.topdiv{
		position: relative;
		background-color: #d33c44;
		width: 100%;
		height: 60px;
		float: left;
	}
	img{
		margin-top: 17px;
	    margin-left: 15px;
	    float: left;
	    width: 240px;
	}
	.cookbook{
		position: relative;
		background-color: #363638;
		width: 100%;
		height: 46px;
		float: left;
		text-align: center;
		color: #7a7b76;
		font-family: Raleway;
	}
	.cookbook:hover{
		background-color: #323233;
	}
	.cookbook:hover, .api:hover{
		color: #bdbdb5;
	}
	.api{
		position: relative;
		background-color: #404042;
		width: 100%;
		height: 46px;
		float: left;
		text-align: center;
		color: #7a7b76;
		font-family: Raleway;
	}
	.api:hover{
		background-color: #38383a;
	}
	.donate, .dropdown{
		display: none;
	}
	.ghost{
		font-family: Raleway-thin;
		width: 100%; 
		background-color: transparent; 
		line-height:50px; 
		font-size:18px; 
		color: white; 
		float:left; 
		text-align:center;
	}
	h1{
		margin-top: 60px;
		font-size: 38px;
	}
	h3{
		margin-top: 0px;
		font-size: 60px;
	}
	.lines { 
	    border-bottom: 17px double white; 
	    border-top: 6px solid white; 
	    content:"";
	    height: 5px; 
	    width:30px;
	    float: right;
	    margin-right: 10px;
	    margin-top: 15px;
	}
	.book{
		position: absolute;
		float: left;
		width: 40px;
		height: 35px;
		margin: 0px 0px 0px 0px;
		top: 7px;
		padding-left: 80px;
		z-index: 1;
	}
	.tools{
		position: absolute;
		float: left;
		width: 40px;
		height: 30px;
		margin: 0px 0px 0px 0px;
		top: 5px;
		padding-left: 60px;
		z-index: 1;
	}
	@media only screen and (max-width: 635px){
		h1{
			margin-top: 60px;
			font-size: 30px;
		}
		h3{
			margin-top: 0px;
			font-size: 50px;
		}

}