<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Nintendo Brasil</title>

		<meta name = "keywords" content = "Alunos, UTFPR, Projeto1, nintendo, layout, treinamento">
		<meta name = "author" content = "Leonardo Goulart, Tiago Perri">
		<meta name = "description" content = "Página inicial da nintendo replicada por motivos de estudos pelos alunos Leonardo Goulart e Tiago Perri">
        <meta charset="UTF-8">
		<meta name="viewport"content="width=device-width, initial-scale=1.0">

		<!--Links-->
        <link rel="stylesheet" href="stylesheets/reset.css">
        <link rel="stylesheet" href="stylesheets/style.css">
		<link rel="stylesheet" href="stylesheets/fonts.css">
		<link rel="stylesheet" href="stylesheets/cadastro.css">
		<link rel="stylesheet" href="stylesheets/modal.css">
		
		<!--Icons-->
        <script src="https://kit.fontawesome.com/92b73e7f59.js" crossorigin="anonymous"></script>
    </head>
	<body>
		<div class="header"> <!-- Header -->
			<a href="./" class="logo">
				<img src="images/logo_nintendo.png" alt="logo principal da nintendo" />
			</a>
		<div class="header-info">
				<div class="support">
					<a href="#">
						<i class="fas fa-question-circle"></i>
						<p>Support</p>
					</a>
				</div>
				<div class="cadastroheader">
					<a href="./register">
						<i class="fas fa-user"></i>
						<p>Criar conta</p>
					</a>
				</div>
				<div class="login">
					<a href="./login">
						<i class="fas fa-user"></i>
						<p>Fazer login</p>
					</a>
				</div>
				<div class="hamburguer">
						<a href="#">
							<i class="fas fa-user" style="margin-right: 8px;"></i>
							<p>Fazer login</p>
						</a>
					<a href="#">
						<img class="hamburger-menu" src="./images/hamburger-menu.png" alt="icon de um Menu hamburguer, riscos na horizontal um em cima do outro">
					</a>
				</div>
			</div>
		</div>
		<div> <!-- Tela Cadastro -->
			<form action="register/create" method="POST" accept-charset="utf-8">
				<div class="contLogin">			 
					<div>      
						<div id="cadastro">
								<h1>Cadastro</h1> 
								<div class="div-input"> 
									<label for="email_cadastro" class="label-geral">E-mail</label>
									<input id="email_login" name="email_cadastro" type="text" placeholder="Digite seu e-mail" class="input-geral"/> 
								</div>	
								<div class="div-input"> 
									<label for="password_cadastro" class="label-geral">Sua senha</label>
									<input id="password_login" name="password_cadastro" type="password" placeholder="*****" class="input-geral"/> 
								</div>	
								<div class="div-input"> 
									<label for="group" class="label-geral">Digite o nivel de acesso</label>
									<input id="group" name="group" type="text" placeholder="user ou admin" class="input-geral"/> 
								</div>  
								<div class="div-btn">
									{{!-- <button id="BtnSubmit_cadastro">REGISTRAR</button> --}}
									<input id="BtnSubmit_cadastro" type="submit" value="Cadastrar">
								</div>
								<p class="aviso-p">Se cadastre como admin.</p>
						</div>
					</div>
				</div> 
		   </form>
		</div>

	   <footer>
		   <div class="first-line-footer">
				<a href="www.nintendo.com">www.nintendo.com</a>
				<p>(apenas em inglês) |</p>
				<a href="#">Política de privacidade</a>
				<p>| <a href="#">Termos de uso </a> |</p>
				<a href="#">Princípios de Segurança Online</a>
		   </div>
		   <div>
				<p>Support / Asistencia / Assistência</p>
		   </div>
		   <div>
				<p>Support for residents of Latin America is available in English by clicking <a href="">here.</a></p>
		   </div>
		   <div>
			   <p>Para assistência em português para residentes da América Latina, <a href="">clique aqui.</a></p>
		   </div>
	   </footer>
	   <div class="contModal" id="Modal1">
		<div class="modal">
			<button class="fecharModal">X</button>
			<h1>Login Inválido</h1>
			<p>E-mail inválido, digite outro E-mail</p>
		</div>
   </div>

   <div class="contModal" id="Modal2">
		<div class="modal">
			<button class="fecharModal">X</button>
			<h1>Senha Inválida</h1>
			<p>Senha vazia. Digite uma senha!</p>
		</div>
	</div>

	<div class="contModal" id="Modal3">
		<div class="modal">
			<button class="fecharModal">X</button>
			<h1>Login Inválido</h1>
			<p>E-mail muito curto</p>
		</div>
   </div>

   <div class="contModal" id="Modal4">
		<div class="modal">
			<button class="fecharModal">X</button>
			<h1>Senha Inválida</h1>
			<p>Senha muito curta</p>
		</div>
	</div>

	<div class="contModal" id="Modal5">
		<div class="modal">
			<button class="fecharModal">X</button>
			<h1>Login Inválido</h1>
			<p>E-mail não pode ficar vazio</p>
		</div>
   </div>

   <div class="contModal" id="Modal6">
		<div class="modal">
			<button class="fecharModal">X</button>
			<h1>Login Inválido</h1>
			<p>Você já está logado. Se quiser sair da sessão clique aqui: <button id= "BtnLogout">Deslogar</button></p>
		</div>
	   </div>
	   <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	   {{!-- <script src="javascripts/reqRes.js"></script> --}}
	</body>
</html>